raidapp/.venv/                     
db.sqlite3                 
joshs-ec2-kp.pem                      
*.pyc                      
__pycache__/               
.env                       
*.log                      
.DS_Store
raidapp/raidlogix/migrations/*
!raidapp/raidlogix/migrations/__init__.py  # Keep the __init__.py file
docker-compose.override.yml  
Raidlogix-Sample.png
