{% extends 'h_and_f.html' %}

{% block content %}

<div id="block-attribute-list">

    <div class="attribute-text"><p>TAGS</p></div>
    <div id="add-tag-button">
        <div class="project-submenu">
            <div class="submenu-item"><a href="{% url 'add_tag' project.pk %}">Create Tag</a></div>
        </div>
    </div>
    
    <div id="project-attribute-container">
        {% if tags.count == 0 %}
            <h1 id="empty-projects">NO TAGS</h1>




        {% else %}
            {% for tag in tags %}
                <a id="project-container-link" href="{% url 'decision_attach_tag' project.pk decision.pk tag.pk %}">
                    <div class="project-container-tag">

                        <div class="left-project-container">
                            <div class="project-value">Name: <p class="project-list-value">&nbsp;{{ tag.tag_name }}</p></div>
                        </div>

                        <div class="right-project-container">
                            <div class="project-value">Description: <p class="project-list-value">&nbsp;{{tag.description}}</p></div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    <a href="{% url 'view_project' project.pk %}" id="reroute-project"><input id="add-attribute-submit" type="submit" value="Back to Project"/></a>
</div>




{% endblock content %}