{% extends 'h_and_f.html' %}

{% block content %}
<div class="block-profile">

    <h1 class="cool-text">Change Password</h1>
    <form action="" method="post" class="edit-profile">
        {% csrf_token %}
        <div class='edit-password-container'>

        
            <div class="edit-profile-container">
                {{form.old_password.label}}
                {{ form.old_password }}
            </div>
            
            <div class="edit-profile-container">
                {{form.new_password1.label}}
                {{ form.new_password1 }}
            </div>
            <div class="edit-profile-container">
                {{form.new_password2.label}}
                {{ form.new_password2 }}
            </div>
        </div>
        
        
        <a href="#" id="change-user-info-a"><input id="change-user-info" type="submit" value="Change"/></a>
        
    </form>
    
    
    
</div>
{% endblock %}


