{% extends 'login-template.html' %}

{% block content %}
    <div id="block-create-account">
        <h1 class="cool-text">Create Account</h1>

        <div class="create-account-form">
            <form action="" method="POST" class="form-fields">
                {% csrf_token %}
                <div class="create-account-fields-wrapper">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                    <div class="create-account-fields-wrapper">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                    <div class="create-account-fields-wrapper">
                    {{form.password1.label}}
                    {{form.password1}}
                </div>
                    <div class="create-account-fields-wrapper">
                    {{form.password2.label}}
                    {{form.password2}}
                </div>

                <div class="error-message-container">
                    {% if form.password2.errors %}
                        <ul>
                            {% for error in form.password2.errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                

                <a href="#" id=""><input id="create-account-submit" type="submit" value="Create Account"/></a>
            </form>
            
        </div>

    </div>
{% endblock content %}