{% extends 'h_and_f.html' %}
{% block content %}
    <div id="block-create-project">
        <div class="cool-text"><h1>Create Project</h1></div>
        <div class="create-project-vertical-wrapper">
            <div class="create-project-horizontal-wrapper">
                <div class="create-project-input-wrapper">
                    <h1 class="create-project-header">Project Info</h1>
                        <form class="create-project-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <a href="#" id="create-project-submit-a"><input id="create-project-button" type="submit" value="Create Project"/></a>
                        </form>
                    </div>

                
            </div>
        </div>

        
    </div>


    </div>
{% endblock content %}