{% extends 'h_and_f.html' %}

{% block content %}
<div id="block-home">
    <div id="info-def-section" class="cool-text">
        <div id="info-def-header" >
            <h1>What is RAIDLOGIX?</h1>
        </div>
        <div id="info-def-response"><p>RAIDLOGIX is a tool designed to assist product managers in organizing projects and meetings to create ease within the workflow!</p></div>
    </div>
    <div id="card-container">
        <div class="card-wrapper">
            <div class="card-title">Risks</div>
            <div class="card">
                <p>Risks refer to potential events or circumstances that may have an adverse impact on a project or organization's objectives. 
                    These could include anything from technological challenges and resource constraints to market fluctuations and regulatory changes. 
                    In RAID logs, risks are identified, assessed for their likelihood and impact, and strategies are devised to either mitigate, transfer, avoid, or accept them.</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-title">Actions</div>
            <div class="card">
                <p>Actions in RAID logs denote the tasks or steps that need to be taken to address specific risks, issues, or decisions within a project or organizational context. 
                    These could involve implementing risk mitigation measures, resolving issues, or executing decisions made by stakeholders. 
                    Each action typically includes details such as the responsible party, deadlines, and progress status to ensure accountability and trackability.</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-title">Issues</div>
            <div class="card">
                <p>Issues represent challenges or problems that arise during the course of a project or within an organization, which may hinder progress or affect deliverables. 
                    These could range from technical glitches and resource shortages to conflicts among team members or stakeholders. 
                    In RAID logs, issues are documented, analyzed to determine their root causes, and addressed through appropriate corrective actions to minimize their impact on project outcomes.</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-title">Decisions</div>
            <div class="card">
                <p>Decisions encompass the choices made by project stakeholders or organizational leaders to resolve uncertainties, allocate resources, or set directions for a project or initiative. 
                    These could include strategic decisions related to project scope, budget allocations, or operational policies. 
                    In RAID logs, decisions are recorded along with the rationale behind them, ensuring transparency and providing a reference point for future actions and evaluations.</p>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock content %}