<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/main.css">
        <title>Test</title>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div id="login-logo">RAIDLOGIX</div>

            {% block content %}
            {% endblock content %}
        
        

    </body>

    <div id="footer">
        <div id="footer_line"></div>
        
        <h3 class="cool-text">RAIDLOGIX</h3>
        <div id="footer_list" class="cool-text">
            <ul>
                <li><a href="mailto:joshuaknelson1202@icloud.com">Email</a></li>
                <li>|</li>
                <li><a href="#">Privacy Policy</a></li>
                <li>|</li>
                <li><a href="https://linkedin.com/in/joshuanelson01">Connect Here</a></li>
                <li>|</li>
                <li><a href="https://github.com/joshnelson00">Github</a></li>
            </ul>
        </div>
        
        
    </div>
</html>