{% extends 'h_and_f.html' %}

{% block content %}

    <div id="block-project-list">
        <div class="cool-text"><h1>Projects</h1></div>
    
        <div class="project-outer-wrapper">
            <div class="project-inner-wrapper">


                <div class="project-container">
                    <div class="left-project-container">

                        <div class="project-value">Name:</div>
                        <div class="project-value">Last Updated:</div>
                        <div class="project-value">Owner:</div>
                    </div>
                    <div class="right-project-container">

                        <div class="project-value">Project ID:</div>
                        <div class="project-value">Target Date:</div>
                        <div class="project-value">Budget:</div>
                    </div>
                </div>



            </div>
        </div>

        
    </div>


{% endblock content %}