{% extends 'h_and_f.html' %}

{% block content %}

    <div id="block-project-list">

        

        <div id="project-header-wrapper">
            <div class="cool-text" id="project-header"><h1>Projects</h1></div>
            <div class="project-submenu">
                <div class="submenu-item"><a href="#">Add Project</a></div>
                <div class="submenu-item"><a href="#">Create Project</a></div>
                <div class="submenu-item"><a href="#">Edit Project</a></div>
            </div>
        </div>
        
        <div class="project-outer-wrapper">
            <div class="project-inner-wrapper">
                <a id="project-container-link" href="#">
                <div class="project-container">
                    
                    <div class="left-project-container">
                        <div class="project-value">Name:</div>
                        <div class="project-value">Last Updated:</div>
                        <div class="project-value">Owner:</div>
                    </div>
                    <div class="right-project-container">

                        <div class="project-value">Project ID:</div>
                        <div class="project-value">Target Date:</div>
                        <div class="project-value">Budget:</div>
                    </div>
                    
                </div>
                </a>



            </div>
        </div>

        
    </div>


{% endblock content %}