{% extends 'h_and_f.html' %}
{% load static %}

{% block content %}

<div id="block-add-risk">

    <h1 id="add-attribute-header">{{ form.name.value }}</h1>



    <form action="" method="post" class="add-attribute-form">
        {% csrf_token %}
        {{ form.created }}
        {{ form.name }}
        {{ form.state }}
        <div class="add-risk-form-special-container">
        <div>
            {{ form.description }}
        </div>
        <div class="add-risk-form-right-container">
            <div class="add-risk-right-child">
                {{ form.probability }}
            </div>
            <div class="add-risk-right-child">
                {{ form.impact }}
            </div>
            <div class="add-risk-score">
                {{ form.score }}
            </div>
        </div>
        
        </div>
        {{ form.date_raised }}
        {{ form.trigger_date }}
        {{ form.date_closed }}
        {{ form.response_strategy }}
        {{ form.response_plan_state }}
        <a href="#" id="add-attribute-submit-a"><input id="add-attribute-submit" type="submit" value="Update"/></a>

        <div id="attach-tag-button"><div class="submenu-item"><a href="{% url 'risks_tag' project.pk risk.pk %}">Attach Tag</a></div></div>

        <button type="submit" class="delete-attribute" name="delete_risk" onclick="return confirm('Are you sure you want to delete this risk?');">
            Delete Risk
        </button>

    </form>
        <p id="attribute-tags-header" class="cool-text">Tags</p>

    <div class="view-tags-container">
        {% if risk_tags.count == 0 %}
            <h1 id="empty-projects">NO TAGS</h1>
        {% else %}
            {% for tag in risk_tags %}
                <a id="project-container-link" href="{% url 'view_tag' project.pk tag.tag.pk %}">
                    <div class="project-container-tag">

                        <div class="left-project-container">
                            <div class="project-value">Name: <p class="project-list-value">&nbsp;{{ tag.tag.tag_name }}</p></div>
                        </div>

                        <div class="right-project-container">
                            <div class="project-value">Description: <p class="project-list-value">&nbsp;{{tag.tag.description}}</p></div>
                        </div>
                    </div>
                </a>

            {% endfor %}
        {% endif %}
    </div>


</div>
        


{% endblock content %}
