{% extends 'h_and_f.html' %}
{% load static %}

{% block content %}

<div id="block-add-risk">

    <h1 id="add-attribute-header">{{ form.name.value }}</h1>

    <form action="" method="post" class="add-attribute-form">
        {% csrf_token %}

        {{ form.created }}
        {{ form.name }}
        <div class="add-action-form-textarea">
            {{ form.description }}
        </div>
        {{ form.due_date }}
        {{ form.state }}
        {{ form.action_source }}
        {{ form.importance }}
        <a href="#" id="add-attribute-submit-a"><input id="add-attribute-submit" type="submit" value="Update"/></a>

        <div id="attach-tag-button"><div class="submenu-item"><a href="{% url 'actions_tag' project.pk action.pk %}">Attach Tag</a></div></div>

        <button type="submit" class="delete-attribute" name="delete_action" onclick="return confirm('Are you sure you want to delete this action?');">
            Delete Action
        </button>
    </form>

    <p id="attribute-tags-header" class="cool-text">Tags</p>
    <div class="view-tags-container">
        {% if action_tags.count == 0 %}
            <h1 id="empty-projects">NO TAGS</h1>
        {% else %}
            {% for tag in action_tags %}
                <a id="project-container-link" href="{% url 'view_tag' project.pk tag.tag.pk %}">
                    <div class="project-container-tag">

                        <div class="left-project-container">
                            <div class="project-value">Name: <p class="project-list-value">&nbsp;{{ tag.tag.tag_name }}</p></div>
                        </div>

                        <div class="right-project-container">
                            <div class="project-value">Description: <p class="project-list-value">&nbsp;{{tag.tag.description}}</p></div>
                        </div>
                    </div>
                </a>

            {% endfor %}
        {% endif %}
    </div>


</div>
        


{% endblock content %}
