{% extends 'h_and_f.html' %}

{% block content %}

<div id="block-add-risk">

    <h1 id="add-attribute-head">Add Assumption</h1>
    <form action="" method="post" class="add-attribute-form">
        {% csrf_token %}

        {{ form.created }}
        {{ form.name }}
        <div id="add-assumption-textarea">
            {{ form.description }}
            {{ form.item }}
            {{ form.notes }}
        </div>
        

        <a href="#" id="add-attribute-submit-a"><input id="add-attribute-submit-assumption" type="submit" value="Update"/></a>
    </form>


</div>




{% endblock content %}