{% extends 'h_and_f.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'main.css' %}">
    

    <div id="block-edit-project">
        <div id="edit-project-header"><h1>{{ project.name }}</h1></div>

            <div id="edit-project-horizontal-wrapper">
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Risks</div>
                        <a class="edit-wrapper-link" href="{% url 'add_risk' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'risks' project.pk %}"><div>View</div></a>
                    </div>
                </div>
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Actions</div>
                        <a class="edit-wrapper-link" href="{% url 'add_action' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'actions' project.pk %}"><div>View</div></a>
                    </div>
                </div>
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Assumptions</div>
                        <a class="edit-wrapper-link" href="{% url 'add_assumption' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'assumptions' project.pk %}"><div>View</div></a>
                    </div>
                </div>
            </div>
        
            <div id="edit-project-horizontal-wrapper">
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Issues</div>
                        <a class="edit-wrapper-link" href="{% url 'add_issue' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'issues' project.pk %}"><div>View</div></a>
                    </div>
                </div>
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Decisions</div>
                        <a class="edit-wrapper-link" href="{% url 'add_decision' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'decisions' project.pk %}"><div>View</div></a>
                    </div>
                </div>
                <div id="edit-project-vertical-wrapper">
                    <div class="edit-project-card">
                        <div class="edit-project-card-text">Dependencies</div>
                        <a class="edit-wrapper-link" href="{% url 'add_dependency' project.pk %}"><div>Create</div></a>
                        <a class="edit-wrapper-link" href="{% url 'dependencies' project.pk %}"><div>View</div></a>
                    </div>
                </div>
            </div>
            <!--END OF CARDS-->

            <div class="edit-form-input-wrapper">
                <form action="" method="post" class="edit-project-form">
                    {% csrf_token %}
                    <div class="edit-project-form-vertical-wrapper">
                        <h1 class="edit-project-details-header">Edit Project Details</h1>
                        <div class="edit-project-form-horizontal-wrapper">
                    
                            <div id="form-left-wrapper">
                                {{ form.name }}
                                {{ form.due }}
                                {{ form.budget }}
                            </div>
                            <div id="form-right-wrapper">
                                {{ form.description }}
                            </div>
                        </div>
                        <div id="project-buttons">
                        <a href="#"><input id="edit-project-button" type="submit" value="Update"/></a>
                        
                        <a href="{% url 'tags' project.pk %}"  id="view-tags"><input id="add-attribute-submit" value="View Tags"/></a>

                        <a href="{% url 'projects' %}" id="back-to-projects"><input id="add-attribute-submit" value="Back to Projects"/></a>

                        <button type="submit" class="delete-item" name="delete_project" onclick="return confirm('Are you sure you want to delete this project?');">
                            Delete Project
                        </button>

                        </div>


                    </div>


                    
                 </form>
            </div>





            
    </div>
        


{% endblock content %}
