{% extends 'h_and_f.html' %}
{% load static %}

{% block content %}

<div id="block-add-risk">

    <h1 id="add-attribute-header">{{form.name.value}}</h1>
    <form action="" method="post" class="add-attribute-form">
        {% csrf_token %}

        {{ form.created }}
        {{ form.name }}
        <div id="add-assumption-textarea">
            {{ form.description }}
        </div>
        
        {{ form.state }}
        {{ form.importance }}
        {{ form.impact }}
        <div id="add-assumption-textarea">
            {{ form.impact_details }}
        </div>
        <div id="add-assumption-textarea">
            {{ form.response_status }}
        </div>
        
        <div id="add-assumption-textarea">
            {{ form.resolution }}
        </div>
            {{ form.date_resolved }}
        
        <div id="add-assumption-textarea">
            {{ form.root_cause }}
        </div>
        
        

        <a href="#" id="add-attribute-submit-a"><input id="add-attribute-submit-assumption" type="submit" value="Update"/></a>
        <button type="submit" class="delete-attribute" name="delete_issue" onclick="return confirm('Are you sure you want to delete this issue?');">
            Delete Issue
        </button>
    </form>

</div>
        


{% endblock content %}
