@font-face {
    font-family: "Request";
    src: url('Request.otf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("Roboto/Roboto-Medium.ttf");
}
html {
    background-color:#3C096C;
    margin: 0%;
    padding: 0%;
}
body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.cool-text {
    font-family: "Request";
    color: white;
}

.lame-text {
    font-family: "Roboto-Bold";
    color: white;
}

/*Header and Footer*/
#header {
    background-image: linear-gradient(#45007A, #A631FF);
    width: 100%;
    height: 90px;
    margin: 0%;
    position: absolute;
    top: 0;
    display: flex;

}


#header_title {
    font-size: 30px;
    margin:0%;
    position: relative;
    padding-right:45px;
    margin-left: 45px;
    top: 20px;
}

#header_title a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

#navbar {
    display: inline-block;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#navbar ul { 
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-between;
    top:10%;
    width: 65%;
    left:27%;
}

#navbar ul li { 
    display: inline;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 22px;
    text-decoration: none;
}

#navbar ul li a{ 
    text-decoration: none;
    color: #ffffff;
}


#footer {
    width: 100%;
    height: 180px;
    margin-top: 0%;
    bottom: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer h3 {
    font-size: 20px;
    margin-bottom: 0%;
}


#footer_line {
    width:80%;
    height:3px;
    border-radius: 1px;
    background-color: white;
}

#footer_list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0%;
}

#footer_list li {
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    right: 18px;
    margin: 0%;
    font-size: 12px;
}
#footer_list a {
    color: white;
    text-decoration: none;
}

/* HOME PAGE */
#block-home {
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 0%;
}
#info-def-section {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#info-def-header {
    font-size: 15px;
    margin: 0%;
    padding: 0%;

}
#info-def-response {
    width: 71%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
#card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 1%;
}
.card-title {
    text-align: center;
    font-family: "Request";
    font-size: 30px;
    color: white;
}

.card {
    background-color: #9D4EDD;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    text-align: start;
    margin-bottom: 10%; 
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Roboto-Medium";
    color: white;
    font-size: 25px;
    text-indent: 10%;
    line-height: 125%;
}
/* Login Template */

#login-logo {
    font-family: "Request";
    color:white;
    font-size: 40px;
    margin-top: 1%;
    margin-left: 2.5%;
    position: relative;
    right:40%;
}

#login-logo a{
    color: #ffffff;
    text-decoration: none;
}

#block-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    margin-bottom: auto;
}
#landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 5%;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    background-color:#9D4EDD;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-radius: 25px;
    margin: 0%;
    margin-bottom: 20%;
}
#login-text {
    color: white;
    font-size: 50px;
    font-family: "Request";
    margin: 0%;
}



.login-button {
    text-align: center;
    border: 4px solid #3C096C;
    border-radius: 25px;
    width: 50%;
    height: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
    color:white;
    font-family: "Request";
    font-size: 30px;
    width: 100%;
    white-space: nowrap;
}

.login-button a{
    text-decoration: none;
    color: white;
}
.login-button a:hover{
    text-decoration: none;
    color: lightgray;
}

/* CREATE ACCOUNT PAGE */
#block-create-account {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.create-account-form {
    background-color: #9D4EDD;
    margin-bottom: 3.25%;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
    font-family: "Request";
    font-size: 14px;
    color: #FFFFFF;
}
.form-fields {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

::placeholder {
    color: #9D4EDD;
    font-family: "Request";
    position: relative;
    top: 1px;
}

.create-account-form input {
    border: 10px;
    width: 450px;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    border-radius: 20px;
    background-color: #3C096C;
}
.create-account-form input[type="text"] {
    color:#ffffff;
    font-family: "Roboto-Medium";
    font-size: 20px;
}

.create-account-form input[type="email"] {
    color:#ffffff;
    font-family: "Roboto-Medium";
    font-size: 20px;
}

.create-account-form input[type="password"] {
    color:#ffffff;
    font-family: "Roboto-Medium";
    font-size: 20px;
}

#create-account-submit {
    color: #ffffff;
    font-family: "Request";
    width: 70%;
    margin-top: 1.5%;
}
#create-account-submit:hover {
    color: lightgray;
    font-family: "Request";
}



.create-account-fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#sign-in-submit {
    color: #ffffff;
    font-family: "Request";
    width: 60%;
    margin-top: 1.5%;
}
#sign-in-submit:hover {
    color: lightgray;
    font-family: "Request";
}

#block-sign-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 1.5%;
    margin-top: 0%;
}

.sign-in-fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 20px;
}

.sign-in-form {
    background-color: #9D4EDD;
    margin-bottom: 3.25%;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
    font-family: "Request";
    font-size: 14px;
    color: #FFFFFF;
}

.sign-in-form input {
    border: 10px;
    width: 450px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    border-radius: 20px;
    background-color: #3C096C;
}

.sign-in-form input[type="text"] {
    color:#ffffff;
    font-family: "Roboto-Medium";
    font-size: 20px;
}

.sign-in-form input[type="password"] {
    color:#ffffff;
    font-family: "Roboto-Medium";
    font-size: 20px;
}

/* PROJECT LIST PAGE */

#block-project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 5.75%;
}

#project-container-link {
    width:94%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.project-outer-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #9D4EDD;
    border-style: solid;
    margin: 1%;
    border-radius: 20px;
    border-width: 3px;
}

.project-inner-wrapper {
    width: 97%;
    height: 100%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #9D4EDD;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
}

.project-container {
    width: 100%;
    height: 00%;
    background-color: #9D4EDD;
    margin: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.project-container:hover {
    background-color: #8141b5;
}

.left-project-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    padding-left: 0.5%;
}

.right-project-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    padding-right: 0.5%;
}

.project-value {
    width: 93%;
    height: 33.3%;
    margin-left:2%;
    margin-right: 2%;
    font-family: "Request";
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

#project-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.submenu-item {
    font-family: "Request";
    font-size: 16px;
    padding-bottom:2%;
    padding-top: 2%;
    padding-left:15%;
    padding-right:15%;
    margin: 3%;
    background-color: #3C096C;
    border-style: solid;
    border-color: #9D4EDD;
    border-width: 2px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    
}

.submenu-item a{
    text-decoration: none;
    color: #FFFFFF;
}



#block-create-project {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: blueviolet;
}

.create-project-horizontal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: auto;
    background-color: lightblue;
    padding-bottom: 7%;
}

.create-project-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: purple;
}

.create-project-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: auto;
    background-color: green;
}


.create-project-button-small-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-project-button-small-wrapper a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Request";
    background-color: #9D4EDD;
    width: 90%;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-top: 8%;
    padding-bottom: 8%;

}

.create-project-input-wrapper textarea {
    background-color: #3C096C;
    resize: none;
    border: none;
}
.create-project-input-wrapper input[type="text"] {
    background-color: #3C096C;
    border: none;
}





